<nav
  class="sticky top-0 z-[999] flex flex-col transition-colors duration-300 bg-white shadow"
>
  <div
    class="flex items-center justify-between p-[10px] lg:px-[30px] gap-[20px]"
  >
    <!-- Logo -->
    <div class="flex items-center gap-[5px] cursor-pointer" routerLink="/home">
      <img src="images/logo.png" alt="Logo" class="w-[30px] lg:w-[50px]" />
      <div class="font-montserrat text-2xl font-bold lg:text-4xl">Furniro</div>
    </div>
    <div class="flex-1 max-w-120">
      <app-search></app-search>
    </div>

    <!-- Actions -->
    <div class="hidden md:block">
      <app-user-actions
        (openFavorites)="openFavorites.emit()"
        (openCart)="openCart.emit()"
      ></app-user-actions>
    </div>

    <!-- Menu Button -->
    <button (click)="toggleMenu()" class="cursor-pointer md:hidden">
      <div
        class="hamburgerMenu flex h-[40px] w-[40px] flex-col items-center justify-evenly md:hidden"
      >
        <span
          class="menuSign w-[60%] border-2 rounded-[5px] duration-300 ease"
        ></span>
        <span
          class="menuSign w-[90%] border-2 rounded-[5px] duration-300 ease"
        ></span>
        <span
          class="menuSign w-[60%] border-2 rounded-[5px] duration-300 ease"
        ></span>
      </div>
    </button>

    <!-- Mobile Menu -->
    @if(isActive){
    <div
      class="absolute top-[100px] right-0 flex-col w-[250px] bg-white text-center shadow md:hidden"
      (click)="toggleMenu()"
    >
      <app-navigation></app-navigation>
      <app-user-actions
        (openFavorites)="openFavorites.emit()"
        (openCart)="openCart.emit()"
      >
      </app-user-actions>
    </div>
    }
  </div>
  <!-- Navigation Links -->
  <div class="hidden md:block bg-gray-light p-2">
    <app-navigation></app-navigation>
  </div>
  <!-- <div class="flex flex-col">
  </div> -->
</nav>
